{% extends 'core/base.html' %}

{% block title %}About{% endblock %}

{% block meta %}
<meta name="description" content="ArtisanAfrique is the best online store for african handicrafts">
<meta name="author" content="Gaddafi Muhammad">
<meta property="og:title" content="ArtisanAfrique | About">
<meta property="og:description" content="ArtisanAfrique is the best online store for african handicrafts">
<meta property="og:type" content="article">
<meta property="og:url" content="http://ArtisanAfrique.com/about/">
{% endblock %}

{% block content %}
    <h1>About</h1>
{% endblock %}