    <!-- change_password_success.html -->
    {% extends 'core/base.html' %}

    {% block title %}Change Password - Success{% endblock %}

    {% block content %}
    <div class="container mx-auto flex flex-col items-center justify-center h-screen ">
        <svg class="h-24 w-24 text-white mb-6 bg-green-500 rounded-full " fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
        </svg>
        <h1 class="text-3xl font-semibold mb-4">Password Changed Successfully</h1>
        <a href="{% url 'home' %}" class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded">Go back to Home</a>
    </div>
    {% endblock %}
